@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

body {
  background-color: #000;
  color: #000;
}


.container {
  background: #ffdede;
  padding: 60px;
}


.destaque {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.destaque-texto {
    flex: 1;
}

.destaque-texto h2 {
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 16px;
    color: #000;
}

.golden{
  color:#a70808;
  cursor:pointer;
}

.brasil {
  color: #009c3b;
  font-weight: 800;
  letter-spacing: 1px;
  background: rgb(240, 240, 15);
}

.destaque-texto h2 i {
  color:#a70808;
  font-size: 35px;
  margin-left: 2px;
}


.destaque-texto p{
    max-width: 800px;
    font-size: 20px;
    line-height: 1.6;
    color: #222;
    margin-bottom: 45px;
}



.destaque-foto {
    width: 550px;
}

.destaque-foto img {
    width: 100%;
    border-radius: 50px;
    display: block;
}

.destaque-foto p {
    margin-top: 25px;
    font-size: 15px;
    text-align: right;
    color: #000;
    background: white;
    border-radius: 30px;
    padding: 25px 30px 25px 25px;
}


.confira h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000;
}

.confira ul {
    padding-left: 18px;
}

.confira li {
    line-height: 1.5;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: bold;
    color:#a70808;
    width: 800px;
    cursor: pointer;
}


.linha{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

.interesses {
  background-color: #ffdede;
  padding: 40px 60px;
}

.inter-conteudo {
  display: flex;
  gap: 30px;
  align-items: stretch;
}

.titulo-interesses {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.bloco-cards {
   display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 10px;
}

.cards {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  justify-content: center;
}

.card {
  display: flex;
  gap: 20px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  width: 190px;
  height: 190px;
  cursor: pointer;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.35);
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card h3 {
  position: absolute;
  bottom: 25px;
  width: 160px;
  left: 10px;
  right: 10px;
  color: white;
  font-size: 16px;
  z-index: 2;
  text-shadow: 0 2px 6px rgba(0,0,0,0.80);
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
}


.card-stranger {
  position: relative;
  width: 496px;
  height: 279px;
  object-fit: cover;
  margin-left: auto;
  border-radius: 50px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.card-stranger:hover{
  transform: scale(1.05);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.35);
}


.card-stranger img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.stranger-texto {
  position: absolute;
  inset: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right,rgba(20, 0, 0, 0.9),rgba(20, 0, 0, 0.5),rgba(20, 0, 0, 0.2));
  color: white;
}

.stranger-texto h2 {
  font-size:20px;
  padding-top: 50px;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 80px;
}

.titulo-stranger {
  color: #ff2a2a;
}

.stranger-texto p {
  max-width: 600px;
  padding-bottom: 50px;
  font-size: 15px;
  text-align: center;
  line-height: 1.6;
  color: #f1f1f1;
}




