@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000;
  color: #000;
}
.topo {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  transition-duration: 0.8s;
  font-family: "Lexend", sans-serif;
}

.menu a:hover {
  color: red;
}

.container {
  background: #ffdede;
  padding: 60px;
}

.destaque {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
  align-items: center;
}

.destaque img {
  width: 100%;
  border-radius: 25px;
}

.cards {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.card {
  width: 220px;
  border-radius: 20px;
  overflow: hidden;
  background: white;
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.card h3 {
  padding: 10px;
  font-size: 14px;
}

.rodape-logo img {
  height: 60px;

}


.rodape-bloco, .rodape-bloco-2 h3 {
  font-size: 14px;
  margin-bottom: 6px;
  color: #f1f1f1;
}

.rodape-bloco, .rodape-bloco-2 p {
  font-size: 13px;
  margin: 2px 0;
  color: #f1f1f1;
}


footer {
  display: flex;
  align-items: center;
  padding: 15px 60px;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.stranger {
  margin-top: 50px;
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 320px;
  border-radius: 30px;
  overflow: hidden;
  background: linear-gradient(to right, #120000, #2b0000);
}

.stranger img {
  width: 55%;
  height: 100%;
  object-fit: cover;
}

.stranger-texto {
  width: 45%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.stranger-texto h2 {
  font-size: 26px;
  margin-bottom: 12px;
  color: #ff2a2a;
  line-height: 1.2;
}

.stranger-texto p {
  font-size: 15px;
  line-height: 1.6;
  color: #f1f1f1;
}